body {
    margin: 0;
    padding: 0;
}

.container {
    width: 500px;
}

#face-img {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}

#last-updated {
    position: fixed;
    bottom: 0;
}

@media only screen and (max-width: 600px) {
  body {
    width: 400px%;
  }
}