body {
    margin: 0;
    padding: 0;
}

.container {
    width: 500px;
}

#face-img {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}

.text-block {
  padding-top: 11px;
}

a {
  text-decoration: underline;
  color: #1a1b8a;
}

a:hover {
  background-color: gray;
}

#last-updated {
    position: fixed;
    bottom: 0;
}

@media only screen and (max-width: 1050px) {
  html, body {
      width: 100%;
      max-width: 100%;
      overflow-y: hidden;
  }
  .container {
      width: 100%;
      max-width: 100%;
  }
}